@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html{
  font-size: 16 px;
}

body{
  font-size: 1 rem;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  color: #6002ee;
}

#main{
  margin: 35px 10px;
  padding: 20px;
  border-radius: 5px;
  background: #f4f5f8;
}

@media (max-width: 460px) {
  #main{
    margin: 0;
  } 
}  

#title{
  font-size: 2.5 rem;
  margin-bottom:  0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

h2{
  font-size: 2 rem;
}

#img-div{
  background: #a99279;
  padding: 20px;
  margin: 0;
}

#image{
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption{
  margin: 20px 0 10px 0;
  color: #ad2455;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.2rem;
  }
}

#heading{
  text-align: center;
}

#tribute-info{
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  color: #222428;
}

li {
  margin: 20px 0;
}

#tribute-link{
  font-weight: bold;
}

a{
   color: #62ffbb;
}

a:visited{
  color: #74638f;
}

