* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.title-bar{
    height: 10vh;
    min-width: 100vh;
    background: #F55A5A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
}

.title--text{
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.title--logo{
    margin-right: 1vh;
    width: 5vh;
    height: 5vh;
}

.journal-list{
    margin: 0 7vh 5vh 7vh;
}

.journal-item{
    width: 85vh;
    height: 30vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: row;
}

.journal--img{
    height: inherit;
    width: 24vh;
    border-radius: 5px;
}

.journal-description{
    display: flex;
    margin-left: 3.5vh;
    flex-direction: column;
}

.journal-description > h1{
    margin-top: 0.5vh;
    font-weight: 700;
    font-size: 4.5vh;
    line-height: 4vh;
    color: #2B283A;
}

.journal-description > h3{
    margin-top: 1.5vh;
    font-weight: 700;
    font-size: 2vh;
    line-height: 1.5vh;
    color: #2B283A;
}

.journal-description > p{
    margin-top: 1vh;
    width: 59vh;
    font-weight: 400;
    font-size: 2vh;
    line-height: 150%;
    color: #2B283A;
}

.location-logo{
    width: 1.5vh;
    height: 2vh;
}

.journal-location{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
}

.journal-location > h1{
    margin-top: 0.5vh;
    margin-left: 0.75vh;
    font-weight: 500;
    font-size: 2vh;
    line-height: 1.5vh;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.journal-location > a{
    margin-top: 0.5vh;
    margin-left: 1.5vh;
    font-weight: 400;
    font-size: 2vh;
    line-height: 1.5vh;
    text-decoration-line: underline;
    color: #918E9B;
}


